.u-section-1 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 92px 40px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    font-size: 1.66667rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}