 .u-section-1 {
  background-image: url("../img/FOTO-25-OBTEN-LA-CERTIFICACION-.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 250px;
}

.u-section-1 .u-text-1 {
  font-size: 2.2222222222222223rem;
  margin: 103px auto -43px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 78px;
    margin-bottom: -61px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.66667rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
    margin-bottom: -29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.27778rem;
    margin-top: 9px;
    margin-bottom: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2372px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 233px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: 30px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 37px auto 0;
}

.u-section-2 .u-list-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 182px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-3 {
  --radius: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: -64px;
  font-size: 2.27778rem;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 51px 0 0;
}

.u-section-2 .u-list-item-4 {
  --radius: 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 50px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: -64px;
  font-size: 2.27778rem;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 51px 0 0;
}

.u-section-2 .u-list-item-5 {
  --radius: 20px;
}

.u-section-2 .u-container-layout-5 {
  padding: 50px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: -64px;
  font-size: 2.27778rem;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 51px 0 0;
}

.u-section-2 .u-list-3 {
  width: 878px;
  margin: 9px auto 0;
}

.u-section-2 .u-repeater-3 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 283px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-6 {
  --radius: 20px;
}

.u-section-2 .u-container-layout-6 {
  padding: 50px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 65px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
  margin-top: -64px;
  font-size: 2.27778rem;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 51px 0 0;
}

.u-section-2 .u-list-item-7 {
  --radius: 20px;
}

.u-section-2 .u-container-layout-7 {
  padding: 50px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 65px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  margin-bottom: 0;
  margin-top: -64px;
  font-size: 2.27778rem;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  margin: 51px 0 0;
}

.u-section-2 .u-group-1 {
  --radius: 30px;
  width: 1130px;
  min-height: 173px;
  height: auto;
  margin: 44px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-12 {
  line-height: 1.5;
  font-size: 1.1111111111111112rem;
  margin: 39px 0 0;
}

.u-section-2 .u-line-1 {
  margin-top: 58px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 221px;
  --radius: 20px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-14 {
  font-size: 1.11111rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 82px;
  height: 82px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 221px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 53px;
  height: 38px;
  margin: 66px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 221px;
  --radius: 20px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-15 {
  font-size: 1.11111rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-2 .u-image-3 {
  width: 82px;
  height: 82px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 221px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 53px;
  height: 38px;
  margin: 66px auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 221px;
  --radius: 20px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-text-16 {
  font-size: 1.11111rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-2 .u-image-5 {
  width: 82px;
  height: 82px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-14 {
  padding: 40px 6px;
}

.u-section-2 .u-text-17 {
  font-size: 1.88889rem;
  margin: 0 189px 0 13px;
}

.u-section-2 .u-text-18 {
  font-size: 0.888889rem;
  font-weight: 600;
  margin: -41px 4px 0 41px;
}

.u-section-2 .u-btn-3 {
  --radius: 30px;
  font-size: 0.611111rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 15px;
}

.u-section-2 .u-btn-4 {
  --radius: 30px;
  font-size: 0.611111rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 5px auto 0;
  padding: 10px 39px 10px 38px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-16 {
  padding: 40px 6px;
}

.u-section-2 .u-text-19 {
  font-size: 0.888889rem;
  font-weight: 600;
  margin: 0 0 0 37px;
}

.u-section-2 .u-text-20 {
  font-size: 1.88889rem;
  margin: -256px 202px 215px 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-18 {
  padding: 40px 6px;
}

.u-section-2 .u-text-21 {
  font-size: 0.888889rem;
  font-weight: 600;
  margin: 0 0 0 37px;
}

.u-section-2 .u-text-22 {
  font-size: 1.88889rem;
  margin: -256px 202px 215px 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 221px;
  --radius: 20px;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-text-23 {
  font-size: 1.11111rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-2 .u-image-6 {
  width: 82px;
  height: 82px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 221px;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 53px;
  height: 38px;
  margin: 66px auto 0;
}

.u-section-2 .u-layout-cell-13 {
  min-height: 221px;
  --radius: 20px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

.u-section-2 .u-text-24 {
  font-size: 1.11111rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-2 .u-image-8 {
  width: 82px;
  height: 82px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 221px;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  width: 53px;
  height: 38px;
  margin: 66px auto 0;
}

.u-section-2 .u-layout-cell-15 {
  min-height: 221px;
  --radius: 20px;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

.u-section-2 .u-text-25 {
  font-size: 1.11111rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-2 .u-image-10 {
  width: 82px;
  height: 82px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-16 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-24 {
  padding: 40px 6px;
}

.u-section-2 .u-text-26 {
  font-size: 0.888889rem;
  font-weight: 600;
  margin: 0 4px 0 41px;
}

.u-section-2 .u-text-27 {
  font-size: 1.88889rem;
  margin: -128px 189px 0 13px;
}

.u-section-2 .u-layout-cell-17 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-25 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-18 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-26 {
  padding: 40px 6px;
}

.u-section-2 .u-text-28 {
  font-size: 0.888889rem;
  font-weight: 600;
  margin: 0 0 0 37px;
}

.u-section-2 .u-text-29 {
  font-size: 1.88889rem;
  margin: -128px 202px 87px 0;
}

.u-section-2 .u-layout-cell-19 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-27 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-20 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-28 {
  padding: 40px 6px;
}

.u-section-2 .u-text-30 {
  font-size: 0.888889rem;
  font-weight: 600;
  margin: 0 0 0 37px;
}

.u-section-2 .u-text-31 {
  font-size: 1.88889rem;
  margin: -51px 202px 10px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1743px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 201px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 157px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 172px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-right: 6px;
    margin-left: 32px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 294px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-2 .u-text-20 {
    margin-top: -323px;
    margin-right: 166px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 294px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -358px;
    margin-right: 166px;
    margin-bottom: 317px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
    width: auto;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 191px;
  }

  .u-section-2 .u-image-6 {
    width: -40px;
    height: -40px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 191px;
  }

  .u-section-2 .u-image-7 {
    width: -40px;
    height: -29px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 191px;
  }

  .u-section-2 .u-image-8 {
    width: -40px;
    height: -40px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 191px;
  }

  .u-section-2 .u-image-9 {
    width: -40px;
    height: -29px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 191px;
  }

  .u-section-2 .u-image-10 {
    width: -40px;
    height: -40px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 339px;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-top: -153px;
    margin-right: 153px;
  }

  .u-section-2 .u-layout-cell-17 {
    min-height: 242px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 339px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-28 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-29 {
    width: auto;
    margin-top: -179px;
    margin-right: 166px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-19 {
    min-height: 242px;
  }

  .u-section-2 .u-layout-cell-20 {
    min-height: 339px;
  }

  .u-section-2 .u-text-31 {
    width: auto;
    margin-top: -77px;
    margin-right: 166px;
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2413px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 165px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 129px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-2 .u-container-layout-10 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    width: 50px;
    height: 36px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 157px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 157px;
  }

  .u-section-2 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-2 .u-image-4 {
    width: 50px;
    height: 35px;
    margin-top: 88px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 157px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 189px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 28px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 242px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-19 {
    margin-top: 40px;
    margin-left: 46px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: -333px;
    margin-right: 173px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 242px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 32px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -307px;
    margin-right: 173px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-text-26 {
    margin-top: 26px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-27 {
    margin-top: -128px;
    margin-right: 178px;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-17 {
    min-height: 390px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 390px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 173px;
  }

  .u-section-2 .u-layout-cell-19 {
    min-height: 390px;
  }

  .u-section-2 .u-layout-cell-20 {
    min-height: 390px;
  }

  .u-section-2 .u-text-30 {
    width: auto;
    margin-left: 39px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3319px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 309px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 30px;
  }

  .u-section-2 .u-list-3 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 301px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 1px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 309px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 309px;
  }

  .u-section-2 .u-text-20 {
    margin-top: -323px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 463px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 301px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 309px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 4px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-27 {
    margin-top: -194px;
    margin-right: 189px;
    margin-left: 13px;
  }

  .u-section-2 .u-layout-cell-17 {
    min-height: 255px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 309px;
  }

  .u-section-2 .u-layout-cell-19 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-20 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-28 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-31 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5757px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -139px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -139px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -139px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 695px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 177px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 41px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.875rem;
    margin-top: -117px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 695px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-22 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 172px;
  }

  .u-section-2 .u-text-26 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-27 {
    font-size: 1.875rem;
    margin-top: -112px;
  }

  .u-section-2 .u-layout-cell-17 {
    min-height: 574px;
  }

  .u-section-2 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 177px;
  }

  .u-section-2 .u-text-28 {
    margin-top: 41px;
  }

  .u-section-2 .u-text-29 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-19 {
    min-height: 575px;
  }

  .u-section-2 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-31 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4061px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -64px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -64px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -64px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-2 .u-text-17 {
	  margin-right: 0;
	  margin-left: 0;
	  font-size: 1.5rem;
	  width: 10%;
  }

  .u-section-2 .u-text-18 {
	  margin-right: 0;
	  margin-left: 0;
	  width: 80%;
	  float: right;
	  margin-top: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 195px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.5rem;
    margin-top: -135px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 438px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 20px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 189px;
  }

  .u-section-2 .u-text-26 {
    margin-top: 52px;
  }

  .u-section-2 .u-text-27 {
    font-size: 1.5rem;
    margin-top: -129px;
  }

  .u-section-2 .u-layout-cell-17 {
    min-height: 361px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 195px;
  }

  .u-section-2 .u-text-28 {
    margin-top: 32px;
  }

  .u-section-2 .u-text-29 {
    font-size: 1.5rem;
    margin-top: -135px;
    margin-right: 202px;
  }

  .u-section-2 .u-layout-cell-19 {
    min-height: 362px;
  }

  .u-section-2 .u-text-30 {
    margin-left: 37px;
  }

  .u-section-2 .u-text-31 {
    font-size: 1.5rem;
    margin-right: 202px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-63fb-16,
.u-block-63fb-16:before,
.u-block-63fb-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 499px;
}

.u-section-3 .u-text-1 {
  font-size: 1.66667rem;
  margin: 78px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 868px;
  font-size: 1rem;
  margin: 18px auto 0;
}

.u-section-3 .u-list-1 {
  width: 924px;
  margin: 30px auto 29px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 214px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 80px;
  height: 81px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 86px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 80px;
  height: 81px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 86px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 80px;
  height: 81px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 86px auto 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 514px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 107px;
}

.u-section-4 .u-text-1 {
  font-size: 1.66667rem;
  font-weight: 500;
  margin: 50px auto 33px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 242px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 80%;
  margin: 58px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(5, 20%);
  min-height: 126px;
  grid-auto-columns: 20%;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-image-7 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px;
}

.u-section-5 .u-image-8 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-9 {
  padding: 10px;
}

.u-section-5 .u-image-9 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 10px;
}

.u-section-5 .u-image-10 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-11 {
  padding: 10px;
}

.u-section-5 .u-image-11 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-12 {
  padding: 10px;
}

.u-section-5 .u-image-12 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-13 {
  padding: 10px;
}

.u-section-5 .u-image-13 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-14 {
  padding: 10px;
}

.u-section-5 .u-image-14 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-15 {
  padding: 10px;
}

.u-section-5 .u-image-15 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-16 {
  padding: 10px;
}

.u-section-5 .u-image-16 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-17 {
  padding: 10px;
}

.u-section-5 .u-image-17 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-18 {
  padding: 10px;
}

.u-section-5 .u-image-18 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-19 {
  padding: 10px;
}

.u-section-5 .u-image-19 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-20 {
  padding: 10px;
}

.u-section-5 .u-image-20 {
  height: 106px;
  width: 176px;
  margin: 0 auto;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  top: 43px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 43px;
  right: -20px;
}

@media (max-width: 1399px) {
   .u-section-5 {
    min-height: 242px;
  }

  .u-section-5 .u-list-1 {
    min-height: 126px;
  }

  .u-section-5 .u-image-1 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-2 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-3 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-4 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-5 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-6 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-7 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-8 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-9 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-10 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-11 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-12 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-13 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-14 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-15 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-16 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-17 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-18 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-19 {
    height: 36px;
    width: 60px;
  }

  .u-section-5 .u-image-20 {
    height: 36px;
    width: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}
