 .u-section-1 {
  min-height: 1398px;
}

.u-section-1 .u-group-1 {
  min-height: 54px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto 0 22px;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-form-1 {
  width: 1320px;
  height: 105px;
  margin: 25px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-list-1 {
  width: 1320px;
  margin: 67px auto 24px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 31.5px);
  grid-template-columns: repeat(4, calc(25% - 31.5px));
  min-height: 1077px;
  grid-gap: 42px;
}

.u-section-1 .u-list-item-1 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-2 {
	letter-spacing: 1px;
	background-image: none;
	font-size: 0.6rem;
	margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-1 {
	margin-top: 200px;
	margin-bottom: 0;
	bottom: 0;
	position: absolute !important;
}

.u-block-8edf-174 {
  height: 50px;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.27778rem;
}

.u-block-8edf-186 {
  height: 50px;
}

.u-section-1 .u-list-item-2 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-197 {
  height: 50px;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.27778rem;
}

.u-block-8edf-206 {
  height: 50px;
}

.u-section-1 .u-list-item-3 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-217 {
  height: 50px;
}

.u-section-1 .u-table-body-3 {
  font-size: 1.27778rem;
}

.u-block-8edf-226 {
  height: 50px;
}

.u-section-1 .u-list-item-4 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-4 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-8 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-237 {
  height: 50px;
}

.u-section-1 .u-table-body-4 {
  font-size: 1.27778rem;
}

.u-block-8edf-246 {
  height: 50px;
}

.u-section-1 .u-list-item-5 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-5 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-10 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-5 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-257 {
  height: 50px;
}

.u-section-1 .u-table-body-5 {
  font-size: 1.27778rem;
}

.u-block-8edf-266 {
  height: 50px;
}

.u-section-1 .u-list-item-6 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-6 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-12 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-6 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-277 {
  height: 50px;
}

.u-section-1 .u-table-body-6 {
  font-size: 1.27778rem;
}

.u-block-8edf-286 {
  height: 50px;
}

.u-section-1 .u-list-item-7 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-group-8 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-7 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-14 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-7 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-297 {
  height: 50px;
}

.u-section-1 .u-table-body-7 {
  font-size: 1.27778rem;
}

.u-block-8edf-306 {
  height: 50px;
}

.u-section-1 .u-list-item-8 {
  --radius: 40px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-group-9 {
  width: 93px;
  height: 93px;
  margin: -29px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-8 {
  width: 60px;
  height: 59px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 41px 10px 0;
}

.u-section-1 .u-btn-16 {
  letter-spacing: 1px;
  font-size: 0.777778rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-18 {
  font-size: 0.777778rem;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-8 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-8edf-317 {
  height: 50px;
}

.u-section-1 .u-table-body-8 {
  font-size: 1.27778rem;
}

.u-block-8edf-326 {
  height: 50px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 1140px;
  }

  .u-section-1 .u-list-1 {
    width: 1140px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 921px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 21px);
    grid-template-columns: repeat(2, calc(50% - 21px));
    min-height: 2478px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}
